body{
    color: white;
    background-color: black;
}
dt{
    font-weight: bold;
    font-size: large;
}
.link{
    color: gold;
    text-decoration: none;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
}
th{
    border: solid 1px white;
}
.inv{
    color: black;
}
/*table cells*/
.blackCell{
    background-color: black;
}
.grayCell{
    background-color: gray;
}
.whiteCell{
    background-color: white;
}
.pinkCell{
    background-color: hotpink;
}
.redCell{
    background-color: red;
}
.orangeCell{
    background-color: orange;
}
.yellowCell{
    background-color: yellow;
}
.lightGreenCell{
    background-color: lightgreen;
}
.greenCell{
    background-color: green;
}
.darkGreenCell{
    background-color: darkgreen;
}
.lightBlueCell{
    background-color: lightblue;
}
.blueCell{
    background-color: blue;
}
.darkBlueCell{
    background-color: darkblue;
}
.purpleCell{
    background-color: purple;
}
.brownCell{
    background-color: saddlebrown;
}