body{
    color: white;
    background-color: black;
    margin: 0;
}
#pricesTable tr td{
    font-weight: bold;
    font-size: large;
}
.link{
    color: gold;
    text-decoration: none;
}
#pricesTable{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
}
#pricesTable tr th{
    border: solid 1px white;
}
.inv{
    color: black;
}
/*table cells*/
.blackCell{
    background-color: black;
}
.grayCell{
    background-color: gray;
}
.whiteCell{
    background-color: white;
}
.pinkCell{
    background-color: hotpink;
}
.redCell{
    background-color: red;
}
.orangeCell{
    background-color: orange;
}
.yellowCell{
    background-color: yellow;
}
.lightGreenCell{
    background-color: lightgreen;
}
.greenCell{
    background-color: green;
}
.darkGreenCell{
    background-color: darkgreen;
}
.lightBlueCell{
    background-color: lightblue;
}
.blueCell{
    background-color: blue;
}
.darkBlueCell{
    background-color: darkblue;
}
.purpleCell{
    background-color: purple;
}
.brownCell{
    background-color: saddlebrown;
}
#primary_nav_wrap
{
    margin-top:15px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    background: #1d1d1d;
}
/*
#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}
*/
#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}

#mainSiteBody{
    background-image: linear-gradient(#343434, black);
}
#logo{
    transform-origin: 50% 50%;
    width: 12vmin;
    height: 12vmin;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
}
#logoBG{
    transform-origin: 50% 0%;
    border-top: 110px solid black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 150px;
    margin-top: -3px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
}
#logoBGBorder{
    transform-origin: 50% 0%;
    border-top: 110px solid gold;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 156px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
#topBar{
    display: block;
    height: 50px;
    background: #000;
    width: 100%;
    border-bottom: 3px solid gold;
    z-index: -1;
}
#socialsBG{
    border-top: 110px solid black;
    border-left: 25px solid transparent;
    width: 272px;
    margin-top: -3px;
    margin-left: auto;
    position: absolute;
    right: 0;
    z-index: 0;
}
#socialsBGBorder{
    width: 275px;
    border-top: 110px solid gold;
    border-left: 25px solid transparent;
    margin-left: auto;
    position: absolute;
    right: 0;
}
.socialIcon{
    width: 70px;
    height: 70px;
}
/*
#inLink{
    transform: translateY(15px) translateX(45px);
}
#gitLink{
    transform: translateY(15px) translateX(125px);
}
#fbLink{
    transform: translateY(15px) translateX(205px);
}
*/
.socialLink{
    color: transparent;
    padding: 0 3px;
}
#socials{
    padding-top: 10px;
    padding-right: 20px;
    margin-left: auto;
    z-index: 0;
    position: absolute;
    right: 0;
}
#welcomeSection{
    margin-top: 75px;
    text-align: center;
}
#welcomeBanner{
    color: gold;
    font-size: 150px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 1%;
}
.bigText{
    font-size: xx-large;
}
.emText{
    color: gold;
    font-weight: bold;
    font-size: 50px;
}
#projectsSection{
    /*background-color: black;*/
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
.sectionTitle{
    color: gold;
    font-size: 120px;
    font-weight: bolder;
    padding-top: 5%;
    margin: 0%;
}
.sectionContent{
    font-size: xx-large;
}
.underline{
    text-decoration: underline;
}
.moreBottomSpace{
    margin-bottom: 75px;
}
#bottomBar{
    margin-top: auto;
    padding: 25px;
    height: 50px;
    background-color: #343434;
}
#leftSection{
    float: left;
}
#middleSection{
    float: top;
}
#rightSection{
    float: right;
}