body{
    color: white;
    background-color: black;
    margin: 0;
}
#pricesTable tr td{
    font-weight: bold;
    font-size: large;
}
.link{
    color: gold;
    text-decoration: underline;
}
#pricesTable{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
}
#pricesTable tr th{
    border: solid 1px white;
}
.inv{
    color: black;
}
/*table cells*/
.blackCell{
    background-color: black;
}
.grayCell{
    background-color: gray;
}
.whiteCell{
    background-color: white;
}
.redCell{
    background-color: red;
}
.orangeCell{
    background-color: orange;
}
.fluoYellowCell{
    background-color: #f8ff00;
}
.yellowCell{
    background-color: #ffdf00;
}
.pearlGoldCell{
    background-color: #d4ad00;
}
.goldCell{
    background-color: gold;
}
.lightGreenCell{
    background-color: #3bd438;
}
.greenCell{
    background-color: green;
}
.lightBlueCell{
    background-color: #00d0e7;
}
.darkBlueCell{
    background-color: #00008b;
}
.beigeCell{
    background-color: #eaa960;
}
.brownCell{
    background-color: saddlebrown;
}
#primary_nav_wrap
{
    margin-top:15px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    background: #1d1d1d;
}
#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}

#mainSiteBody{
    background-image: linear-gradient(#343434, black);
}
#logo{
    transform-origin: 50% 50%;
    width: 12vmin;
    height: 12vmin;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
}
#logoBG{
    transform-origin: 50% 0%;
    border-top: 110px solid black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 150px;
    margin-top: -3px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
}
#logoBGBorder{
    transform-origin: 50% 0%;
    border-top: 110px solid gold;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 156px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
#topBar{
    display: block;
    height: 50px;
    background: #000;
    width: 100%;
    border-bottom: 3px solid gold;
    z-index: -1;
}
#socialsBG{
    border-top: 110px solid black;
    border-left: 25px solid transparent;
    width: 272px;
    margin-top: -3px;
    margin-left: auto;
    position: absolute;
    right: 0;
    z-index: 0;
}
#socialsBGBorder{
    width: 275px;
    border-top: 110px solid gold;
    border-left: 25px solid transparent;
    margin-left: auto;
    position: absolute;
    right: 0;
}
.socialIcon{
    width: 70px;
    height: 70px;
}
.socialLink{
    color: transparent;
    padding: 0 3px;
}
#socials{
    padding-top: 10px;
    padding-right: 20px;
    margin-left: auto;
    z-index: 0;
    position: absolute;
    right: 0;
}
#welcomeSection{
    margin-top: 75px;
    text-align: center;
}
#welcomeBanner{
    color: gold;
    font-size: 150px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.bigText{
    font-size: xx-large;
}
.emText{
    color: gold;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
}
.secEmText{
    color: gold;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
#projectsSection{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
.sectionTitle{
    color: gold;
    font-size: 120px;
    font-weight: bolder;
    padding-top: 5%;
    margin: 0%;
}
.sectionContent{
    font-size: xx-large;
}
.underline{
    text-decoration: underline;
}
.moreBottomSpace{
    margin-bottom: 75px;
}
footer{
    padding: 25px;
    height: 50px;
    background-color: #343434;
}
#footerLeft{
    position: absolute;
}
#footerRight{
    color: #5f5f5f;
    float: right;
}
#footerCenter{
    margin-top: 20px;
    text-align: center;
}
#leftSection{
    float: left;
}
#middleSection{
    float: top;
}
#rightSection{
    float: right;
}
#creditsBody{
    background-image: linear-gradient(#343434, black);
    text-align: center;
}
#creditsSection{
    margin-top: 200px;
}
#creditsBottomSpace{
    height: 130px;
}
#contactBody{
    background-image: linear-gradient(#343434, black);
    text-align: center;
}
#contactSection{
    margin-top: 300px;
}
#contactBottomSpace{
    height: 325px;
}
#dropDownBGBorder{
    position: absolute;
    border-top: 50px solid gold;
    border-right: 25px solid transparent;
    width: 250px;
    top: 53px;
}
#dropDownBG{
    position: absolute;
    border-top: 50px solid black;
    border-right: 25px solid transparent;
    width: 248px;
    top: 50px;
    z-index: 1;
}
.dropdown {
    position: absolute;
    display: inline-block;
    background-color: black;
    margin-top: -3px;
    border-bottom: 3px solid gold;
    border-right: 3px solid gold;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 249px;
    min-height: 38px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px;
    z-index: 1;
    text-align: center;
    top: 48px;
    border-bottom: 3px solid gold;
    border-right: 3px solid gold;
}
.secDropdownContent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px;
    z-index: 1;
    margin-left: 249px;
    margin-top: -42px;
    text-align: center;
    border-bottom: 3px solid gold;
    border-right: 3px solid gold;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.secDropdown:hover .secDropdownContent {
    display: block;
}
#VIPDropDown{
    top: -10px;
    left: 25px;
    width: 250px;
    position: absolute;
    z-index: 2;
}
#navWelcome{
    margin-top: 0px;
}
#navProjects{
    margin-top: 62px;
}
#navProjectsCurrent{
    border-top: 3px solid gold;
}
#navProjectsPast{
    margin-top: 10px;
}
#navC3D{
    margin-top: 124px;
}
#navC3DInfo{
    border-top: 3px solid gold;
}
#navC3DPrices{
    margin-top: 10px;
}
#navC3DOrder{
    margin-top: 62px;
    border-left: 3px solid gold;
    min-width: 147px;
}
#navWork{
    margin-top: 186px;
}
#navWorkPersonal{
    border-top: 3px solid gold;
    min-width: 200px;
    margin-top: -30px;
}
#navWorkSchool{
    margin-top: 22px;
    border-left: 3px solid gold;
    min-width: 197px;
}
#personalSection{
     text-align: center;
     margin-right: 20%;
     margin-left: 20%;
     margin-top: 200px;
}
#schoolSection{
      text-align: center;
      margin-right: 20%;
      margin-left: 20%;
}
#introSection{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 200px;
}
#infoSection{
    text-align: center;
    margin: 200px 20% 100px 20%;
}
.emTextLink{
    color: gold;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}