body{
    color: white;
    background-color: #343434;
    margin: 0;
}
dt{
    font-weight: bold;
    font-size: large;
}
.link{
    color: gold;
    text-decoration: none;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
}
th{
    border: solid 1px white;
}
.inv{
    color: black;
}
/*table cells*/
.blackCell{
    background-color: black;
}
.grayCell{
    background-color: gray;
}
.whiteCell{
    background-color: white;
}
.pinkCell{
    background-color: hotpink;
}
.redCell{
    background-color: red;
}
.orangeCell{
    background-color: orange;
}
.yellowCell{
    background-color: yellow;
}
.lightGreenCell{
    background-color: lightgreen;
}
.greenCell{
    background-color: green;
}
.darkGreenCell{
    background-color: darkgreen;
}
.lightBlueCell{
    background-color: lightblue;
}
.blueCell{
    background-color: blue;
}
.darkBlueCell{
    background-color: darkblue;
}
.purpleCell{
    background-color: purple;
}
.brownCell{
    background-color: saddlebrown;
}
#primary_nav_wrap
{
    margin-top:15px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    background: #1d1d1d;
}
/*
#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}
*/
#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}
#logo{
    /*animation: 3s spin linear infinite;*/
    transform-origin: 50% 50%;
    width: 12vmin;
    height: 12vmin;
    /*padding-top: 50px;*/
    position: absolute;
}
#logoBG{
    transform-origin: 50% 0%;
    border-top: 110px solid black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 150px;
    /*transform: translateY(-233px);*/
    /*transform: translateY(-63px);*/
    /*display: block;*/
    margin: auto;
    position: absolute;
}
#logoBGBorder{
    transform-origin: 50% 0%;
    border-top: 110px solid gold;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 156px;
    /*transform: translateY(-120px);*/
    /*transform: translateY(50px);*/
    /*display: block;*/
    margin: auto;
    position: absolute;
}
#topBar{
    display: block;
    height: 50px;
    background: #000;
    /*position: fixed; <-- if we want the top to scroll but for some reason x-model doesn't scroll with it*/
    width: 100%;
    border-bottom: 3px solid gold;
    margin-top: -15px;
    text-align: center;
    position: relative;
}
#welcomeSection{
    margin-top: 12%;
    text-align: center;
}
#welcomeBanner{
    color: gold;
    font-size: 150px;
    font-weight: bolder;
    margin-bottom: 1%;
}
.bigText{
    font-size: xx-large;
}
.emText{
    color: gold;
}
#projectsSection{
    background-color: black;
    text-align: center;
}
.sectionTitle{
    color: gold;
    font-size: 120px;
    font-weight: bolder;
    padding-top: 5%;
    margin: 0%;
}